.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#btn1{
  border: 2px solid rgb(253, 251, 251);
  width:auto;
  height: 30px;
  background-image:linear-gradient(to left bottom,red,white) ;
  border-radius: 5px ;
  position:relative ;
  top:10px;
  box-shadow: 0 8px 2px 0;
  
}
#btn1:hover{
  scale:1.2;
  background-color: bisque;
}
body{
  background-color: aliceblue;
  
}
#head{background-image: url("logo.jpg");
background-size: 100% 150px;
background-repeat: no-repeat;
}
#mrqh{
  height: 240px;width:auto;
  box-shadow:0 10px 8px 0 rgb(63, 61, 61)  ;
border-radius: 10px; padding-left: 10px;
scroll-behavior: smooth;
}
#mrqh:hover{border: solid rgb(250, 4, 4);
    scroll-behavior: smooth;
}
#mrq{color: rgba(243, 10, 10, 0.938);
  background-color: rgb(200, 205, 243);
}
.main{ padding:20px ;
  box-shadow: 0 8px 16px 0 black;
  border-color: solid black; 
  width: 20%;

}
.con1{ 
  padding: 0px;
}

#line{
  background-color: rgb(238, 226, 226);
  width:100%;
  height:30px;
  position: absolute;
  top:350px;
}
#main{
  background-image: linear-gradient(to bottom right,rgb(235, 231, 227),rgb(229, 218, 140));
  border-radius: 5px;
  
}
#cr1{
  justify-content:space-evenly;
  width:50%;}
  #cr2{
    justify-content: space-between;
    width: 50%;
  }
  #crr{
    position: relative;
    left:190px;
    bottom:286px;
  }
  .login{  position: relative;
    left:50px;
box-shadow: 8px 8px 16px 0;
    border-radius: 10px;
    padding: 40px;
 width:50%;
 align-content: center;
 text-align: justify;
 background-color: bisque;
 background-image: linear-gradient( to right bottom,rgb(236, 205, 235) , rgb(112, 46, 96));

}
#lb2{ border-radius:5px;
  height:20px; 
  background-image: linear-gradient( to right bottom,rgb(236, 205, 235) , rgb(224, 136, 202));
}
#btn{
  font-style: oblique;
  border-radius:6px; 
  background-color: rgb(146, 186, 221);
  width:90px;
}
#btn:hover{ scale:1;
}
#footer{
  display:inline-flex;
  position: relative;
 width: 100%;
 list-style-type:none;
vertical-align:baseline;
font-family: 'Rubik Broken Fax', sans-serif;

}
#timetbl{ width:60px;
  height: 30px;
  background-image:linear-gradient( to right bottom,rgb(241, 238, 243) , rgb(5, 197, 31));
 box-shadow:0 1px 7px 0;
  border-radius: 10px;
  margin-left: 220px;
  margin-top: 10px;
  }
  #timetbl:hover{ scale: 1.1;}
